<<<<<<< HEAD

=======
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
<<<<<<< HEAD
>>>>>>> c10d60c (Initial commit from Create Next App)
=======
@keyframes scrolling-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrolling-container {
  overflow: hidden; /* Hide overflow */
  white-space: nowrap; /* Prevent line breaks */
}

.scrolling-text {
  display: inline-block;
  animation: scrolling-text 5s linear infinite; /* Adjust duration as needed */
}
>>>>>>> d1b7c5d (Your commit message here)
